.wrapper {
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-bg);

  .downloadButtonContainer {
    margin-bottom: 1.25rem;
    text-align: right;
    padding-right: 0.9375em;
  }

  .panel {
    background-color: var(--color-white);
    padding: 0.8in;
    max-width: 8.5in;
    min-height: 11in;
    margin: 0 auto;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.1);
    color: var(--color-text);
    font-size: 0.6875rem;

    @media print {
      box-shadow: none;
      margin: 0;
      padding: 0.8in;
      min-height: auto;
      width: 8.5in;
    }

    .header {
      text-align: center;
      margin-bottom: 1.5rem;

      h1 {
        font-size: 2.2rem;
        margin-bottom: 0.25rem;
        color: var(--color-primary-dark);
        text-transform: uppercase;
        font-family: var(--font-secondary);
      }

      p {
        font-size: 1.1rem;
        color: var(--color-gray-700);
        font-weight: 300;
      }
    }

    .emptyPreview {
      text-align: center;
      color: var(--color-gray-700);
      margin-top: 3.125rem;
      font-size: 1.1rem;
    }

    .section {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .sectionTitle {
        font-size: 1.25rem;
        color: var(--color-primary);
        border-bottom: 0.125em solid var(--color-primary);
        padding-bottom: 0.4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-family: var(--font-secondary);
      }

      .sectionContent {
        p,
        h3,
        span {
          line-height: var(--line-height);
          color: var(--color-text);
        }

        h3 {
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 0.2rem;
        }
      }

      .experienceItem,
      .educationItem {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        span {
          font-size: 0.95rem;
          color: var(--color-gray-700);
          display: block;
          margin-bottom: 0.4rem;
        }

        p {
          font-size: 0.95rem;
        }
      }
    }
  }
}
